.cover__background {
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1050px) {
  .cover__background {
    min-height: 640px;
  }
}

@media (max-width: 780px) {
  .cover__background {
    min-height: 480px;
  }
}

@media (max-width: 500px) {
  .cover__background {
    min-height: 300px;
  }
}

@media (max-width: 400px) {
  .cover__background {
    min-height: 200px;
  }
}
