.grid {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  margin: 92px 48px 0;
}

/* @media (max-width: 768px) {
  .grid {
    padding: 88px 24px 0;
  }
}

@media (max-width: 390px) {
  .grid {
    padding: 64px 16px 0;
  }
} */
